{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "htmlWhitespaceSensitivity": "strict",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
